.content{
    margin-left: 10%;
    margin-right:10%;
    margin-top: 50pt;
}

.content-area{
    height: 500pt;
}

.layer-select{
    margin-top: 5%;
}

.button-col{
    align-items: center;
}

#canvas{
    background-color: #ffeeaa;
}

#select-area{
    background-color: aqua;
}

