{% extends 'base.html' %}
{% csrf_token %}
{% block title %}CrunchBase Data Visualization{% endblock %}
{% load static %}
{% block content %}

<div class="content">
    <h1>🐎🕊 CrunchBase Data Visualization 🐂🍺</h1>
    <div class="row" id="content-row">
        <div class="col-sm-8 content-area" id="canvas">

        </div>

        <div class="col-sm-4 content-area" id="select-area">

        </div>
    </div>
</div>

<script>
    var request = "http://127.0.0.1:8000/filter/?filter1=market&threshold1=500&filter2=founded_year&threshold2=2008&filter3=status&threshold3=None&label=count&unknown=False";
    load_chart(request);
</script>
{% endblock %} 